@{
    var menus = new[] 
                    {
                        new{ LinkText ="Academy", ActionName = "Index", ControllerName = "Academy", Roles = "All" },
                        new{ LinkText ="Expense", ActionName = "Index", ControllerName = "Expense", Roles = "All" },
                        new{ LinkText ="PearsonCandidate", ActionName = "Index", ControllerName = "PearsonCandidate", Roles = "All" },
                        new{ LinkText ="PrometricCandidate", ActionName = "Index", ControllerName = "PrometricCandidate", Roles = "All" },
                        new{ LinkText ="Prometric", ActionName = "Index", ControllerName = "Prometric", Roles = "All" },
                        new{ LinkText ="Home", ActionName = "Index", ControllerName = "Home", Roles = "All" },
                    };
}
<ul id="menu">

 @if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                string[] roles = Roles.GetRolesForUser();
                                var links = from item in menus
                                            where item.Roles.Split(new String[] { "," }, StringSplitOptions.RemoveEmptyEntries)
                                            .Any(x => roles.Contains(x) || x == "All")
                                            select item;

                                foreach (var link in links)
                                {
                                    @: <li> @Html.ActionLink(link.LinkText, link.ActionName,link.ControllerName)</li>
                                }
                            }
                            else 
                            {
                                var links = from item in menus
                                            where item.Roles.Split(new String[]{","},StringSplitOptions.RemoveEmptyEntries)
                                            .Any(x=>new String[]{"All","Anonymous"}.Contains(x))      
                                            select item;
                                 foreach ( var link in links){     
                                     @: <li> @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName)</li>         
                                 }
                            }
</ul>